/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  background-color: yellow;
  padding: 0px;
  margin: 0px;
}

#defaultCanvas0 {
  position: absolute;
  top: 12%;
  right: 0px;
}